In [737]:
import pandas as pd
import numpy as np
import altair as alt

In [738]:
df23 = pd.read_excel("Financial_Report23.xlsx", sheet_name=2)

In [739]:
df23.head()

,"CONSOLIDATED STATEMENTS OF INCOME - USD ($) shares in Millions, $ in Millions",12 Months Ended,Unnamed: 2,Unnamed: 3
0,NaN,"Dec. 31, 2023","Dec. 31, 2022","Dec. 31, 2021"
1,Net Operating Revenues,45754,43004,38655
2,Cost of goods sold,18520,18000,15357
3,Gross Profit,27234,25004,23298
4,"Selling, general and administrative expenses",13972,12880,12144

### We notice that each statement contains that year and the previous two years, hence it will be unneccessary and clumsy import each of the 10 years income statement sheet. 

##### What we will do instead is to import the income statement of the last year on each sheet so that we can join by that last year. Since they should have same figures, it also helps us cross-check

###### Auditor Name: Ernst & Young LLP

In [740]:
#df21 = pd.read_excel("Financial_Report21.xlsx", sheet_name=2)
df19 = pd.read_excel("Financial_Report19.xlsx", sheet_name=1)
#df17 = pd.read_excel("Financial_Report17.xlsx", sheet_name=1)
#df15 = pd.read_excel("Financial_Report15.xlsx", sheet_name=1)
#df16 = pd.read_excel("Financial_Report16.xlsx", sheet_name=1)
#df18 = pd.read_excel("Financial_Report18.xlsx", sheet_name=1)
df20 = pd.read_excel("Financial_Report20.xlsx", sheet_name=1)
#df22 = pd.read_excel("Financial_Report22.xlsx", sheet_name=2)

In [741]:
df20.head()

,"CONSOLIDATED STATEMENTS OF INCOME - USD ($) shares in Millions, $ in Millions",12 Months Ended,Unnamed: 2,Unnamed: 3
0,NaN,"Dec. 31, 2020","Dec. 31, 2019","Dec. 31, 2018"
1,Revenues,33014,37266,34300
2,Cost of Goods and Services Sold,13433,14619,13067
3,GROSS PROFIT,19581,22647,21233
4,"Selling, General and Administrative Expense",9731,12103,11002

In [742]:
df23.head()

,"CONSOLIDATED STATEMENTS OF INCOME - USD ($) shares in Millions, $ in Millions",12 Months Ended,Unnamed: 2,Unnamed: 3
0,NaN,"Dec. 31, 2023","Dec. 31, 2022","Dec. 31, 2021"
1,Net Operating Revenues,45754,43004,38655
2,Cost of goods sold,18520,18000,15357
3,Gross Profit,27234,25004,23298
4,"Selling, general and administrative expenses",13972,12880,12144

In [743]:
df20

,"CONSOLIDATED STATEMENTS OF INCOME - USD ($) shares in Millions, $ in Millions",12 Months Ended,Unnamed: 2,Unnamed: 3
0,NaN,"Dec. 31, 2020","Dec. 31, 2019","Dec. 31, 2018"
1,Revenues,33014,37266,34300
2,Cost of Goods and Services Sold,13433,14619,13067
3,GROSS PROFIT,19581,22647,21233
4,"Selling, General and Administrative Expense",9731,12103,11002
5,"Other Cost and Expense, Operating",853,458,1079
6,OPERATING INCOME,8997,10086,9152
7,Interest income,370,563,689
8,Interest expense,1437,946,950
9,Equity income (loss) - net,978,1049,1008
10,Other income (loss) - net,841,34,-1674
11,INCOME BEFORE INCOME TAXES,9749,10786,8225
12,Income taxes,1981,1801,1749
13,CONSOLIDATED NET INCOME,7768,8985,6476
14,Net Income (Loss) Attributable to Noncontrolli...,21,65,42
15,NET INCOME ATTRIBUTABLE TO SHAREOWNERS OF THE ...,7747,8920,6434
16,BASIC NET INCOME PER SHARE (in dollars per share),1.8,2.09,1.51
17,DILUTED NET INCOME PER SHARE (in dollars per s...,1.79,2.07,1.5
18,AVERAGE SHARES OUTSTANDING (in shares),4295,4276,4259
19,Effect of dilutive securities (in shares),28,38,40
20,AVERAGE SHARES OUTSTANDING ASSUMING DILUTION (...,4323,4314,4299

In [744]:
df19

,"CONSOLIDATED STATEMENTS OF INCOME - USD ($) shares in Millions, $ in Millions",12 Months Ended,Unnamed: 2,Unnamed: 3
0,NaN,"Dec. 31, 2019","Dec. 31, 2018","Dec. 31, 2017"
1,Revenues,37266,34300,36212
2,Cost of Goods and Services Sold,14619,13067,13721
3,GROSS PROFIT,22647,21233,22491
4,"Selling, General and Administrative Expense",12103,11002,12834
5,"Other Cost and Expense, Operating",458,1079,1902
6,OPERATING INCOME,10086,9152,7755
7,Interest income,563,689,679
8,Interest expense,946,950,853
9,Equity income (loss) - net,1049,1008,1072
10,Other income (loss) - net,34,-1674,-1763
11,INCOME BEFORE INCOME TAXES,10786,8225,6890
12,Income taxes,1801,1749,5607
13,CONSOLIDATED NET INCOME,8985,6476,1283
14,Net Income (Loss) Attributable to Noncontrolli...,65,42,35
15,NET INCOME ATTRIBUTABLE TO SHAREOWNERS OF THE ...,8920,6434,1248
16,BASIC NET INCOME PER SHARE (in dollars per share),2.09,1.51,0.29
17,DILUTED NET INCOME PER SHARE (in dollars per s...,2.07,1.5,0.29
18,AVERAGE SHARES OUTSTANDING (in shares),4276,4259,4272
19,Effect of dilutive securities (in shares),38,40,52
20,AVERAGE SHARES OUTSTANDING ASSUMING DILUTION (...,4314,4299,4324

In [745]:
print(df23.shape)
#print(df22.shape)
#print(df21.shape)
print(df20.shape)
print(df19.shape)

(21, 4)
(21, 4)
(21, 4)

# For this analysis, we will focus on 2017 - 2013 

## Using the financial statements AND balance sheet of 
### - 2023
### - 2020
### - 2019

In [746]:
df23[df23.isnull().any(axis=1)]

,"CONSOLIDATED STATEMENTS OF INCOME - USD ($) shares in Millions, $ in Millions",12 Months Ended,Unnamed: 2,Unnamed: 3
0,NaN,"Dec. 31, 2023","Dec. 31, 2022","Dec. 31, 2021"

In [747]:
#HERE IS A FUNCTION TO CLEAN THE DATA, REMOVE NULL VALUES, WRANGLE AND RETURN AN UPDATED DATAFRAME

def new(df):
    #replace NaN in index 0
    df.fillna('Consolidated Statements of Income', inplace = True)
    
    #set column names equal to values in row index position 0
    df.columns = df.iloc[0]
    
    #remove first row from dataframe
    df = df[1:]
    
    #reset index values
    df.reset_index(drop=True, inplace=True)
    
    #view updated dataframe
    return df

#### We are considering year 2023, year 2020 and year 2017 to get a seven year data span from year 2017 to year 2023

In [748]:
final_df23 = new(df23)

In [749]:
final_df20 = new(df20)

In [750]:
final_df19 = new(df19)

#### We merge all dataframes to form one dataframe

In [751]:
fin_18_23 = pd.merge(final_df23, final_df20, left_index=True, right_index=True)

In [752]:
fin_18_23.head()

,Consolidated Statements of Income_x,"Dec. 31, 2023","Dec. 31, 2022","Dec. 31, 2021",Consolidated Statements of Income_y,"Dec. 31, 2020","Dec. 31, 2019","Dec. 31, 2018"
0,Net Operating Revenues,45754,43004,38655,Revenues,33014,37266,34300
1,Cost of goods sold,18520,18000,15357,Cost of Goods and Services Sold,13433,14619,13067
2,Gross Profit,27234,25004,23298,GROSS PROFIT,19581,22647,21233
3,"Selling, general and administrative expenses",13972,12880,12144,"Selling, General and Administrative Expense",9731,12103,11002
4,Other operating charges,1951,1215,846,"Other Cost and Expense, Operating",853,458,1079

In [753]:
fin_17_23 = pd.merge(fin_18_23, final_df19, left_index=True, right_index=True)

In [754]:
f_column = final_df19["Dec. 31, 2017"]
fin_17_23 = pd.concat([fin_18_23,f_column], axis = 1)
fin_17_23

,Consolidated Statements of Income_x,"Dec. 31, 2023","Dec. 31, 2022","Dec. 31, 2021",Consolidated Statements of Income_y,"Dec. 31, 2020","Dec. 31, 2019","Dec. 31, 2018","Dec. 31, 2017"
0,Net Operating Revenues,45754,43004,38655,Revenues,33014,37266,34300,36212
1,Cost of goods sold,18520,18000,15357,Cost of Goods and Services Sold,13433,14619,13067,13721
2,Gross Profit,27234,25004,23298,GROSS PROFIT,19581,22647,21233,22491
3,"Selling, general and administrative expenses",13972,12880,12144,"Selling, General and Administrative Expense",9731,12103,11002,12834
4,Other operating charges,1951,1215,846,"Other Cost and Expense, Operating",853,458,1079,1902
5,Operating Income,11311,10909,10308,OPERATING INCOME,8997,10086,9152,7755
6,Interest income,907,449,276,Interest income,370,563,689,679
7,Interest expense,1527,882,1597,Interest expense,1437,946,950,853
8,Equity income (loss) — net,1691,1472,1438,Equity income (loss) - net,978,1049,1008,1072
9,Other income (loss) — net,570,-262,2000,Other income (loss) - net,841,34,-1674,-1763
10,Income Before Income Taxes,12952,11686,12425,INCOME BEFORE INCOME TAXES,9749,10786,8225,6890
11,Income taxes,2249,2115,2621,Income taxes,1981,1801,1749,5607
12,Consolidated Net Income,10703,9571,9804,CONSOLIDATED NET INCOME,7768,8985,6476,1283
13,Net Income (Loss) Attributable to Noncontrolli...,-11,29,33,Net Income (Loss) Attributable to Noncontrolli...,21,65,42,35
14,Net Income Attributable to Shareowners of The ...,10714,9542,9771,NET INCOME ATTRIBUTABLE TO SHAREOWNERS OF THE ...,7747,8920,6434,1248
15,Basic Net Income Per Share1,2.48,2.2,2.26,BASIC NET INCOME PER SHARE (in dollars per share),1.8,2.09,1.51,0.29
16,Diluted Net Income Per Share1,2.47,2.19,2.25,DILUTED NET INCOME PER SHARE (in dollars per s...,1.79,2.07,1.5,0.29
17,Average Shares Outstanding — Basic,4323,4328,4315,AVERAGE SHARES OUTSTANDING (in shares),4295,4276,4259,4272
18,Effect of dilutive securities,16,22,25,Effect of dilutive securities (in shares),28,38,40,52
19,Average Shares Outstanding — Diluted,4339,4350,4340,AVERAGE SHARES OUTSTANDING ASSUMING DILUTION (...,4323,4314,4299,4324

In [755]:
financials_17_23 = fin_17_23[['Consolidated Statements of Income_y','Dec. 31, 2023','Dec. 31, 2022','Dec. 31, 2021',
                              'Dec. 31, 2020','Dec. 31, 2019','Dec. 31, 2018','Dec. 31, 2017']]

In [756]:
financials_17_23

,Consolidated Statements of Income_y,"Dec. 31, 2023","Dec. 31, 2022","Dec. 31, 2021","Dec. 31, 2020","Dec. 31, 2019","Dec. 31, 2018","Dec. 31, 2017"
0,Revenues,45754,43004,38655,33014,37266,34300,36212
1,Cost of Goods and Services Sold,18520,18000,15357,13433,14619,13067,13721
2,GROSS PROFIT,27234,25004,23298,19581,22647,21233,22491
3,"Selling, General and Administrative Expense",13972,12880,12144,9731,12103,11002,12834
4,"Other Cost and Expense, Operating",1951,1215,846,853,458,1079,1902
5,OPERATING INCOME,11311,10909,10308,8997,10086,9152,7755
6,Interest income,907,449,276,370,563,689,679
7,Interest expense,1527,882,1597,1437,946,950,853
8,Equity income (loss) - net,1691,1472,1438,978,1049,1008,1072
9,Other income (loss) - net,570,-262,2000,841,34,-1674,-1763
10,INCOME BEFORE INCOME TAXES,12952,11686,12425,9749,10786,8225,6890
11,Income taxes,2249,2115,2621,1981,1801,1749,5607
12,CONSOLIDATED NET INCOME,10703,9571,9804,7768,8985,6476,1283
13,Net Income (Loss) Attributable to Noncontrolli...,-11,29,33,21,65,42,35
14,NET INCOME ATTRIBUTABLE TO SHAREOWNERS OF THE ...,10714,9542,9771,7747,8920,6434,1248
15,BASIC NET INCOME PER SHARE (in dollars per share),2.48,2.2,2.26,1.8,2.09,1.51,0.29
16,DILUTED NET INCOME PER SHARE (in dollars per s...,2.47,2.19,2.25,1.79,2.07,1.5,0.29
17,AVERAGE SHARES OUTSTANDING (in shares),4323,4328,4315,4295,4276,4259,4272
18,Effect of dilutive securities (in shares),16,22,25,28,38,40,52
19,AVERAGE SHARES OUTSTANDING ASSUMING DILUTION (...,4339,4350,4340,4323,4314,4299,4324

In [757]:
#Change column names
financials_17_23 = financials_17_23.rename(columns={'Consolidated Statements of Income_y': 'Consolidated Statements of Income(million $)',
                        'Dec. 31, 2023': '2023','Dec. 31, 2022':'2022','Dec. 31, 2021':'2021','Dec. 31, 2020':'2020',
                       'Dec. 31, 2019':'2019','Dec. 31, 2018':'2018','Dec. 31, 2017':'2017'})

In [758]:
financials_17_23

,Consolidated Statements of Income(million $),2023,2022,2021,2020,2019,2018,2017
0,Revenues,45754,43004,38655,33014,37266,34300,36212
1,Cost of Goods and Services Sold,18520,18000,15357,13433,14619,13067,13721
2,GROSS PROFIT,27234,25004,23298,19581,22647,21233,22491
3,"Selling, General and Administrative Expense",13972,12880,12144,9731,12103,11002,12834
4,"Other Cost and Expense, Operating",1951,1215,846,853,458,1079,1902
5,OPERATING INCOME,11311,10909,10308,8997,10086,9152,7755
6,Interest income,907,449,276,370,563,689,679
7,Interest expense,1527,882,1597,1437,946,950,853
8,Equity income (loss) - net,1691,1472,1438,978,1049,1008,1072
9,Other income (loss) - net,570,-262,2000,841,34,-1674,-1763
10,INCOME BEFORE INCOME TAXES,12952,11686,12425,9749,10786,8225,6890
11,Income taxes,2249,2115,2621,1981,1801,1749,5607
12,CONSOLIDATED NET INCOME,10703,9571,9804,7768,8985,6476,1283
13,Net Income (Loss) Attributable to Noncontrolli...,-11,29,33,21,65,42,35
14,NET INCOME ATTRIBUTABLE TO SHAREOWNERS OF THE ...,10714,9542,9771,7747,8920,6434,1248
15,BASIC NET INCOME PER SHARE (in dollars per share),2.48,2.2,2.26,1.8,2.09,1.51,0.29
16,DILUTED NET INCOME PER SHARE (in dollars per s...,2.47,2.19,2.25,1.79,2.07,1.5,0.29
17,AVERAGE SHARES OUTSTANDING (in shares),4323,4328,4315,4295,4276,4259,4272
18,Effect of dilutive securities (in shares),16,22,25,28,38,40,52
19,AVERAGE SHARES OUTSTANDING ASSUMING DILUTION (...,4339,4350,4340,4323,4314,4299,4324

## BALANCE SHEET

In [759]:
dfbal23 = pd.read_excel("Financial_Report23.xlsx", sheet_name=4)
dfbal21 = pd.read_excel("Financial_Report21.xlsx", sheet_name=4)
dfbal19 = pd.read_excel("Financial_Report19.xlsx", sheet_name=3)
dfbal17 = pd.read_excel("Financial_Report17.xlsx", sheet_name=4)

#### I considered a span of 8 years. 2016 - 2023

In [760]:
dfbal23.head()

,CONSOLIDATED BALANCE SHEETS - USD ($) $ in Millions,"Dec. 31, 2023","Dec. 31, 2022"
0,CURRENT ASSETS,,
1,Cash and cash equivalents,9366,9519
2,Short-term investments,2997,1043
3,"Total Cash, Cash Equivalents and Short-Term In...",12363,10562
4,Marketable securities,1300,1069

In [761]:
dfbal21.head()

,CONSOLIDATED BALANCE SHEETS - USD ($) $ in Millions,"Dec. 31, 2021","Dec. 31, 2020"
0,CURRENT ASSETS,NaN,NaN
1,Cash and cash equivalents,9684.0,6795.0
2,Short-term investments,1242.0,1771.0
3,"Total Cash, Cash Equivalents and Short-Term In...",10926.0,8566.0
4,Marketable securities,1699.0,2348.0

In [762]:
dfbal19.head()

,CONSOLIDATED BALANCE SHEETS - USD ($) $ in Millions,"Dec. 31, 2019","Dec. 31, 2018"
0,CURRENT ASSETS,NaN,NaN
1,Cash and cash equivalents,6480.0,9077.0
2,Short-term investments,1467.0,2025.0
3,"TOTAL CASH, CASH EQUIVALENTS AND SHORT-TERM IN...",7947.0,11102.0
4,Marketable securities,3228.0,5013.0

In [763]:
dfbal17.head()

,CONSOLIDATED BALANCE SHEETS - USD ($) $ in Millions,"Dec. 31, 2017","Dec. 31, 2016"
0,CURRENT ASSETS,NaN,NaN
1,Cash and cash equivalents,6006.0,8555.0
2,Short-term investments,9352.0,9595.0
3,"TOTAL CASH, CASH EQUIVALENTS AND SHORT-TERM IN...",15358.0,18150.0
4,Marketable securities,5317.0,4051.0

In [764]:
#Let us change the column header names to be uniform
update_name = {'Dec. 31, 2023':'2023','Dec. 31, 2022':'2022','Dec. 31, 2021':'2021','Dec. 31, 2020':'2020',
              'Dec. 31, 2019':'2019','Dec. 31, 2018':'2018','Dec. 31, 2017':'2017','Dec. 31, 2016':'2016'}

In [765]:
def updname(df):
    df = df.rename(columns = update_name)
    return df

In [766]:
dfbal23 = updname(dfbal23)
dfbal21 = updname(dfbal21)
dfbal19 = updname(dfbal19)
dfbal17 = updname(dfbal17)

In [767]:
dfbal23 = updname(dfbal23)
dfbal23.head()

  CONSOLIDATED BALANCE SHEETS - USD ($) $ in Millions   2023   2022
0                                     CURRENT ASSETS
1                          Cash and cash equivalents    9366   9519
2                             Short-term investments    2997   1043
3  Total Cash, Cash Equivalents and Short-Term In...   12363  10562
4                              Marketable securities    1300   1069

In [768]:
dfbal21 = updname(dfbal21)
dfbal21.head()

  CONSOLIDATED BALANCE SHEETS - USD ($) $ in Millions     2021    2020
0                                     CURRENT ASSETS       NaN     NaN
1                          Cash and cash equivalents    9684.0  6795.0
2                             Short-term investments    1242.0  1771.0
3  Total Cash, Cash Equivalents and Short-Term In...   10926.0  8566.0
4                              Marketable securities    1699.0  2348.0

In [769]:
dfbal19 = updname(dfbal19)
dfbal19.head()

  CONSOLIDATED BALANCE SHEETS - USD ($) $ in Millions    2019     2018
0                                     CURRENT ASSETS      NaN      NaN
1                          Cash and cash equivalents   6480.0   9077.0
2                             Short-term investments   1467.0   2025.0
3  TOTAL CASH, CASH EQUIVALENTS AND SHORT-TERM IN...   7947.0  11102.0
4                              Marketable securities   3228.0   5013.0

In [770]:
dfbal17 = updname(dfbal17)
dfbal17.head()

  CONSOLIDATED BALANCE SHEETS - USD ($) $ in Millions     2017     2016
0                                     CURRENT ASSETS       NaN      NaN
1                          Cash and cash equivalents    6006.0   8555.0
2                             Short-term investments    9352.0   9595.0
3  TOTAL CASH, CASH EQUIVALENTS AND SHORT-TERM IN...   15358.0  18150.0
4                              Marketable securities    5317.0   4051.0

In [771]:
#Merge datasets using index
dfbal20_23 = pd.merge(dfbal23, dfbal21, left_index=True, right_index=True)

dfbal16_19 = pd.merge(dfbal19, dfbal17, left_index=True, right_index=True)

dfbal_sheet = pd.merge(dfbal20_23, dfbal16_19, left_index=True, right_index=True)
dfbal_sheet.head()

,CONSOLIDATED BALANCE SHEETS - USD ($) $ in Millions_x_x,2023,2022,CONSOLIDATED BALANCE SHEETS - USD ($) $ in Millions_y_x,2021,2020,CONSOLIDATED BALANCE SHEETS - USD ($) $ in Millions_x_y,2019,2018,CONSOLIDATED BALANCE SHEETS - USD ($) $ in Millions_y_y,2017,2016
0,CURRENT ASSETS,,,CURRENT ASSETS,NaN,NaN,CURRENT ASSETS,NaN,NaN,CURRENT ASSETS,NaN,NaN
1,Cash and cash equivalents,9366,9519,Cash and cash equivalents,9684.0,6795.0,Cash and cash equivalents,6480.0,9077.0,Cash and cash equivalents,6006.0,8555.0
2,Short-term investments,2997,1043,Short-term investments,1242.0,1771.0,Short-term investments,1467.0,2025.0,Short-term investments,9352.0,9595.0
3,"Total Cash, Cash Equivalents and Short-Term In...",12363,10562,"Total Cash, Cash Equivalents and Short-Term In...",10926.0,8566.0,"TOTAL CASH, CASH EQUIVALENTS AND SHORT-TERM IN...",7947.0,11102.0,"TOTAL CASH, CASH EQUIVALENTS AND SHORT-TERM IN...",15358.0,18150.0
4,Marketable securities,1300,1069,Marketable securities,1699.0,2348.0,Marketable securities,3228.0,5013.0,Marketable securities,5317.0,4051.0

In [772]:
#Drop unnecessary duplicate columns

In [773]:
cols = [3, 6, 9]  # Specify the indices of the columns to drop
dfbal_sheet.drop(dfbal_sheet.columns[cols], axis=1, inplace=True)

In [774]:
dfbal_sheet.head()

,CONSOLIDATED BALANCE SHEETS - USD ($) $ in Millions_x_x,2023,2022,2021,2020,2019,2018,2017,2016
0,CURRENT ASSETS,,,NaN,NaN,NaN,NaN,NaN,NaN
1,Cash and cash equivalents,9366,9519,9684.0,6795.0,6480.0,9077.0,6006.0,8555.0
2,Short-term investments,2997,1043,1242.0,1771.0,1467.0,2025.0,9352.0,9595.0
3,"Total Cash, Cash Equivalents and Short-Term In...",12363,10562,10926.0,8566.0,7947.0,11102.0,15358.0,18150.0
4,Marketable securities,1300,1069,1699.0,2348.0,3228.0,5013.0,5317.0,4051.0

In [775]:
#DROPPING THE NULL VALUES AT INDEX 0
dfbal_sheet = dfbal_sheet.dropna(how='any',axis=0)

In [776]:
dfbal_sheet.reset_index(drop=True,inplace=True)

In [777]:
dfbal_sheet

,CONSOLIDATED BALANCE SHEETS - USD ($) $ in Millions_x_x,2023,2022,2021,2020,2019,2018,2017,2016
0,Cash and cash equivalents,9366,9519,9684.0,6795.0,6480.0,9077.0,6006.0,8555.0
1,Short-term investments,2997,1043,1242.0,1771.0,1467.0,2025.0,9352.0,9595.0
2,"Total Cash, Cash Equivalents and Short-Term In...",12363,10562,10926.0,8566.0,7947.0,11102.0,15358.0,18150.0
3,Marketable securities,1300,1069,1699.0,2348.0,3228.0,5013.0,5317.0,4051.0
4,"Trade accounts receivable, less allowances of ...",3410,3487,3512.0,3144.0,3971.0,3685.0,3667.0,3856.0
5,Inventories,4424,4233,3414.0,3266.0,3379.0,3071.0,2655.0,2675.0
6,Prepaid expenses and other current assets,5235,3240,2994.0,1916.0,1886.0,2059.0,2000.0,2481.0
7,Total Current Assets,26732,22591,22545.0,19240.0,20411.0,24930.0,219.0,2797.0
8,Equity method investments,19671,18264,17598.0,19273.0,19025.0,19412.0,7329.0,0.0
9,Other investments,118,501,818.0,812.0,854.0,867.0,36545.0,34010.0
10,Other noncurrent assets,7162,6189,6731.0,6184.0,6075.0,4148.0,20856.0,16260.0
11,Deferred income tax assets,1561,1746,2129.0,2460.0,2412.0,2674.0,1096.0,989.0
12,"Property, plant and equipment — net",9236,9841,9920.0,10777.0,10838.0,9598.0,4560.0,4248.0
13,Trademarks with indefinite lives,14349,14214,14465.0,10395.0,9266.0,6682.0,8203.0,10635.0
14,Goodwill,18358,18782,19363.0,17506.0,109.0,51.0,6729.0,6097.0
15,Other intangible assets,516,635,785.0,649.0,16764.0,14109.0,138.0,3676.0
16,Total Assets,97703,92763,94354.0,87296.0,627.0,745.0,9401.0,10629.0
17,Current maturities of long-term debt,1960,399,1338.0,485.0,10994.0,13835.0,8748.0,9490.0
18,Accrued income taxes,1569,1203,686.0,788.0,4253.0,5003.0,13205.0,12498.0
19,Total Current Liabilities,23571,19724,19950.0,14601.0,414.0,411.0,3298.0,3527.0
20,Long-term debt,35547,36377,38116.0,40125.0,26973.0,28782.0,410.0,307.0
21,Other noncurrent liabilities,8466,7922,8607.0,9453.0,27516.0,25376.0,37.0,710.0
22,Deferred income tax liabilities,2639,2914,2821.0,1833.0,8510.0,7646.0,1496.0,0.0
23,Capital surplus,19209,18822,18116.0,17601.0,1760.0,1760.0,8021.0,4081.0
24,Reinvested earnings,73782,71019,69094.0,66555.0,17154.0,16520.0,2522.0,3753.0
25,"Treasury stock, at cost — 2,732 and 2,712 shar...",-54535,-52601,-51641.0,-52016.0,-13544.0,-12814.0,1760.0,1760.0
26,Equity Attributable to Shareowners of The Coca...,25941,24105,22999.0,19299.0,-52244.0,-51719.0,15864.0,14993.0
27,Equity attributable to noncontrolling interests,1539,1721,1861.0,1985.0,18981.0,16981.0,60430.0,65502.0
28,Total Equity,27480,25826,24860.0,21284.0,2117.0,2077.0,-10305.0,-11205.0
29,Total Liabilities and Equity,97703,92763,94354.0,87296.0,21098.0,19058.0,-50677.0,-47988.0

In [778]:
#Rename the first column
dfbal_sheet.columns.values[0] = "Consolidated balance sheet"

In [779]:
dfbal_sheet.head()

,Consolidated balance sheet,2023,2022,2021,2020,2019,2018,2017,2016
0,Cash and cash equivalents,9366,9519,9684.0,6795.0,6480.0,9077.0,6006.0,8555.0
1,Short-term investments,2997,1043,1242.0,1771.0,1467.0,2025.0,9352.0,9595.0
2,"Total Cash, Cash Equivalents and Short-Term In...",12363,10562,10926.0,8566.0,7947.0,11102.0,15358.0,18150.0
3,Marketable securities,1300,1069,1699.0,2348.0,3228.0,5013.0,5317.0,4051.0
4,"Trade accounts receivable, less allowances of ...",3410,3487,3512.0,3144.0,3971.0,3685.0,3667.0,3856.0

In [780]:
dffin_sheet=financials_17_23

### Wrangled Datasets

In [781]:
dffin_sheet.head()

,Consolidated Statements of Income(million $),2023,2022,2021,2020,2019,2018,2017
0,Revenues,45754,43004,38655,33014,37266,34300,36212
1,Cost of Goods and Services Sold,18520,18000,15357,13433,14619,13067,13721
2,GROSS PROFIT,27234,25004,23298,19581,22647,21233,22491
3,"Selling, General and Administrative Expense",13972,12880,12144,9731,12103,11002,12834
4,"Other Cost and Expense, Operating",1951,1215,846,853,458,1079,1902

In [782]:
dfbal_sheet.head()

,Consolidated balance sheet,2023,2022,2021,2020,2019,2018,2017,2016
0,Cash and cash equivalents,9366,9519,9684.0,6795.0,6480.0,9077.0,6006.0,8555.0
1,Short-term investments,2997,1043,1242.0,1771.0,1467.0,2025.0,9352.0,9595.0
2,"Total Cash, Cash Equivalents and Short-Term In...",12363,10562,10926.0,8566.0,7947.0,11102.0,15358.0,18150.0
3,Marketable securities,1300,1069,1699.0,2348.0,3228.0,5013.0,5317.0,4051.0
4,"Trade accounts receivable, less allowances of ...",3410,3487,3512.0,3144.0,3971.0,3685.0,3667.0,3856.0

# Visualisations

In [783]:
import altair as alt

In [785]:
#TRANSPOSING TO GET BETTER RESULTS
dfbal_sheettr = dfbal_sheet.transpose()
dfbal_sheettr

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
Consolidated balance sheet,Cash and cash equivalents,Short-term investments,"Total Cash, Cash Equivalents and Short-Term In...",Marketable securities,"Trade accounts receivable, less allowances of ...",Inventories,Prepaid expenses and other current assets,Total Current Assets,Equity method investments,Other investments,...,Long-term debt,Other noncurrent liabilities,Deferred income tax liabilities,Capital surplus,Reinvested earnings,"Treasury stock, at cost — 2,732 and 2,712 shar...",Equity Attributable to Shareowners of The Coca...,Equity attributable to noncontrolling interests,Total Equity,Total Liabilities and Equity
2023,9366,2997,12363,1300,3410,4424,5235,26732,19671,118,...,35547,8466,2639,19209,73782,-54535,25941,1539,27480,97703
2022,9519,1043,10562,1069,3487,4233,3240,22591,18264,501,...,36377,7922,2914,18822,71019,-52601,24105,1721,25826,92763
2021,9684.0,1242.0,10926.0,1699.0,3512.0,3414.0,2994.0,22545.0,17598.0,818.0,...,38116.0,8607.0,2821.0,18116.0,69094.0,-51641.0,22999.0,1861.0,24860.0,94354.0
2020,6795.0,1771.0,8566.0,2348.0,3144.0,3266.0,1916.0,19240.0,19273.0,812.0,...,40125.0,9453.0,1833.0,17601.0,66555.0,-52016.0,19299.0,1985.0,21284.0,87296.0
2019,6480.0,1467.0,7947.0,3228.0,3971.0,3379.0,1886.0,20411.0,19025.0,854.0,...,26973.0,27516.0,8510.0,1760.0,17154.0,-13544.0,-52244.0,18981.0,2117.0,21098.0
2018,9077.0,2025.0,11102.0,5013.0,3685.0,3071.0,2059.0,24930.0,19412.0,867.0,...,28782.0,25376.0,7646.0,1760.0,16520.0,-12814.0,-51719.0,16981.0,2077.0,19058.0
2017,6006.0,9352.0,15358.0,5317.0,3667.0,2655.0,2000.0,219.0,7329.0,36545.0,...,410.0,37.0,1496.0,8021.0,2522.0,1760.0,15864.0,60430.0,-10305.0,-50677.0
2016,8555.0,9595.0,18150.0,4051.0,3856.0,2675.0,2481.0,2797.0,0.0,34010.0,...,307.0,710.0,0.0,4081.0,3753.0,1760.0,14993.0,65502.0,-11205.0,-47988.0

In [786]:
#set column names equal to values in row index position 0
dfbal_sheettr.columns = dfbal_sheettr.iloc[0]
    
#remove first row from dataframe
dfbal_sheettr = dfbal_sheettr[1:]
    

dfbal_sheettr

Consolidated balance sheet,Cash and cash equivalents,Short-term investments,"Total Cash, Cash Equivalents and Short-Term Investments",Marketable securities,"Trade accounts receivable, less allowances of $502 and $516, respectively",Inventories,Prepaid expenses and other current assets,Total Current Assets,Equity method investments,Other investments,...,Long-term debt,Other noncurrent liabilities,Deferred income tax liabilities,Capital surplus,Reinvested earnings,"Treasury stock, at cost — 2,732 and 2,712 shares, respectively",Equity Attributable to Shareowners of The Coca-Cola Company,Equity attributable to noncontrolling interests,Total Equity,Total Liabilities and Equity
2023,9366,2997,12363,1300,3410,4424,5235,26732,19671,118,...,35547,8466,2639,19209,73782,-54535,25941,1539,27480,97703
2022,9519,1043,10562,1069,3487,4233,3240,22591,18264,501,...,36377,7922,2914,18822,71019,-52601,24105,1721,25826,92763
2021,9684.0,1242.0,10926.0,1699.0,3512.0,3414.0,2994.0,22545.0,17598.0,818.0,...,38116.0,8607.0,2821.0,18116.0,69094.0,-51641.0,22999.0,1861.0,24860.0,94354.0
2020,6795.0,1771.0,8566.0,2348.0,3144.0,3266.0,1916.0,19240.0,19273.0,812.0,...,40125.0,9453.0,1833.0,17601.0,66555.0,-52016.0,19299.0,1985.0,21284.0,87296.0
2019,6480.0,1467.0,7947.0,3228.0,3971.0,3379.0,1886.0,20411.0,19025.0,854.0,...,26973.0,27516.0,8510.0,1760.0,17154.0,-13544.0,-52244.0,18981.0,2117.0,21098.0
2018,9077.0,2025.0,11102.0,5013.0,3685.0,3071.0,2059.0,24930.0,19412.0,867.0,...,28782.0,25376.0,7646.0,1760.0,16520.0,-12814.0,-51719.0,16981.0,2077.0,19058.0
2017,6006.0,9352.0,15358.0,5317.0,3667.0,2655.0,2000.0,219.0,7329.0,36545.0,...,410.0,37.0,1496.0,8021.0,2522.0,1760.0,15864.0,60430.0,-10305.0,-50677.0
2016,8555.0,9595.0,18150.0,4051.0,3856.0,2675.0,2481.0,2797.0,0.0,34010.0,...,307.0,710.0,0.0,4081.0,3753.0,1760.0,14993.0,65502.0,-11205.0,-47988.0

In [789]:
dfbal_sheettr['Year'] = dfbal_sheettr.index

C:\Users\pc\AppData\Local\Temp\ipykernel_20656\2866351536.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfbal_sheettr['Year'] = dfbal_sheettr.index

In [790]:
#RENAME INDEX TO YEAR
dfbal_sheettr

Consolidated balance sheet,Cash and cash equivalents,Short-term investments,"Total Cash, Cash Equivalents and Short-Term Investments",Marketable securities,"Trade accounts receivable, less allowances of $502 and $516, respectively",Inventories,Prepaid expenses and other current assets,Total Current Assets,Equity method investments,Other investments,...,Other noncurrent liabilities,Deferred income tax liabilities,Capital surplus,Reinvested earnings,"Treasury stock, at cost — 2,732 and 2,712 shares, respectively",Equity Attributable to Shareowners of The Coca-Cola Company,Equity attributable to noncontrolling interests,Total Equity,Total Liabilities and Equity,Year
2023,9366,2997,12363,1300,3410,4424,5235,26732,19671,118,...,8466,2639,19209,73782,-54535,25941,1539,27480,97703,2023
2022,9519,1043,10562,1069,3487,4233,3240,22591,18264,501,...,7922,2914,18822,71019,-52601,24105,1721,25826,92763,2022
2021,9684.0,1242.0,10926.0,1699.0,3512.0,3414.0,2994.0,22545.0,17598.0,818.0,...,8607.0,2821.0,18116.0,69094.0,-51641.0,22999.0,1861.0,24860.0,94354.0,2021
2020,6795.0,1771.0,8566.0,2348.0,3144.0,3266.0,1916.0,19240.0,19273.0,812.0,...,9453.0,1833.0,17601.0,66555.0,-52016.0,19299.0,1985.0,21284.0,87296.0,2020
2019,6480.0,1467.0,7947.0,3228.0,3971.0,3379.0,1886.0,20411.0,19025.0,854.0,...,27516.0,8510.0,1760.0,17154.0,-13544.0,-52244.0,18981.0,2117.0,21098.0,2019
2018,9077.0,2025.0,11102.0,5013.0,3685.0,3071.0,2059.0,24930.0,19412.0,867.0,...,25376.0,7646.0,1760.0,16520.0,-12814.0,-51719.0,16981.0,2077.0,19058.0,2018
2017,6006.0,9352.0,15358.0,5317.0,3667.0,2655.0,2000.0,219.0,7329.0,36545.0,...,37.0,1496.0,8021.0,2522.0,1760.0,15864.0,60430.0,-10305.0,-50677.0,2017
2016,8555.0,9595.0,18150.0,4051.0,3856.0,2675.0,2481.0,2797.0,0.0,34010.0,...,710.0,0.0,4081.0,3753.0,1760.0,14993.0,65502.0,-11205.0,-47988.0,2016

In [791]:
#BRING THE NEWLY CREATED ROW COLUMN TO THE FRONT
Year = dfbal_sheettr['Year']
dfbal_sheettr.drop(labels=['Year'], axis=1,inplace = True)
dfbal_sheettr.insert(0, 'Year', Year)

C:\Users\pc\AppData\Local\Temp\ipykernel_20656\1614195675.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfbal_sheettr.drop(labels=['Year'], axis=1,inplace = True)

In [792]:
dfbal_sheettr.reset_index(drop=True, inplace=True)
dfbal_sheettr

Consolidated balance sheet,Year,Cash and cash equivalents,Short-term investments,"Total Cash, Cash Equivalents and Short-Term Investments",Marketable securities,"Trade accounts receivable, less allowances of $502 and $516, respectively",Inventories,Prepaid expenses and other current assets,Total Current Assets,Equity method investments,...,Long-term debt,Other noncurrent liabilities,Deferred income tax liabilities,Capital surplus,Reinvested earnings,"Treasury stock, at cost — 2,732 and 2,712 shares, respectively",Equity Attributable to Shareowners of The Coca-Cola Company,Equity attributable to noncontrolling interests,Total Equity,Total Liabilities and Equity
0,2023,9366,2997,12363,1300,3410,4424,5235,26732,19671,...,35547,8466,2639,19209,73782,-54535,25941,1539,27480,97703
1,2022,9519,1043,10562,1069,3487,4233,3240,22591,18264,...,36377,7922,2914,18822,71019,-52601,24105,1721,25826,92763
2,2021,9684.0,1242.0,10926.0,1699.0,3512.0,3414.0,2994.0,22545.0,17598.0,...,38116.0,8607.0,2821.0,18116.0,69094.0,-51641.0,22999.0,1861.0,24860.0,94354.0
3,2020,6795.0,1771.0,8566.0,2348.0,3144.0,3266.0,1916.0,19240.0,19273.0,...,40125.0,9453.0,1833.0,17601.0,66555.0,-52016.0,19299.0,1985.0,21284.0,87296.0
4,2019,6480.0,1467.0,7947.0,3228.0,3971.0,3379.0,1886.0,20411.0,19025.0,...,26973.0,27516.0,8510.0,1760.0,17154.0,-13544.0,-52244.0,18981.0,2117.0,21098.0
5,2018,9077.0,2025.0,11102.0,5013.0,3685.0,3071.0,2059.0,24930.0,19412.0,...,28782.0,25376.0,7646.0,1760.0,16520.0,-12814.0,-51719.0,16981.0,2077.0,19058.0
6,2017,6006.0,9352.0,15358.0,5317.0,3667.0,2655.0,2000.0,219.0,7329.0,...,410.0,37.0,1496.0,8021.0,2522.0,1760.0,15864.0,60430.0,-10305.0,-50677.0
7,2016,8555.0,9595.0,18150.0,4051.0,3856.0,2675.0,2481.0,2797.0,0.0,...,307.0,710.0,0.0,4081.0,3753.0,1760.0,14993.0,65502.0,-11205.0,-47988.0

In [793]:
#CONVERT THE YEAR COLUMN TO DATE-TIME
#dfbal_sheettr["Year"] = pd.to_datetime(dfbal_sheettr["Year"], format="%Y")

In [794]:
dfbal_sheettr

Consolidated balance sheet,Year,Cash and cash equivalents,Short-term investments,"Total Cash, Cash Equivalents and Short-Term Investments",Marketable securities,"Trade accounts receivable, less allowances of $502 and $516, respectively",Inventories,Prepaid expenses and other current assets,Total Current Assets,Equity method investments,...,Long-term debt,Other noncurrent liabilities,Deferred income tax liabilities,Capital surplus,Reinvested earnings,"Treasury stock, at cost — 2,732 and 2,712 shares, respectively",Equity Attributable to Shareowners of The Coca-Cola Company,Equity attributable to noncontrolling interests,Total Equity,Total Liabilities and Equity
0,2023,9366,2997,12363,1300,3410,4424,5235,26732,19671,...,35547,8466,2639,19209,73782,-54535,25941,1539,27480,97703
1,2022,9519,1043,10562,1069,3487,4233,3240,22591,18264,...,36377,7922,2914,18822,71019,-52601,24105,1721,25826,92763
2,2021,9684.0,1242.0,10926.0,1699.0,3512.0,3414.0,2994.0,22545.0,17598.0,...,38116.0,8607.0,2821.0,18116.0,69094.0,-51641.0,22999.0,1861.0,24860.0,94354.0
3,2020,6795.0,1771.0,8566.0,2348.0,3144.0,3266.0,1916.0,19240.0,19273.0,...,40125.0,9453.0,1833.0,17601.0,66555.0,-52016.0,19299.0,1985.0,21284.0,87296.0
4,2019,6480.0,1467.0,7947.0,3228.0,3971.0,3379.0,1886.0,20411.0,19025.0,...,26973.0,27516.0,8510.0,1760.0,17154.0,-13544.0,-52244.0,18981.0,2117.0,21098.0
5,2018,9077.0,2025.0,11102.0,5013.0,3685.0,3071.0,2059.0,24930.0,19412.0,...,28782.0,25376.0,7646.0,1760.0,16520.0,-12814.0,-51719.0,16981.0,2077.0,19058.0
6,2017,6006.0,9352.0,15358.0,5317.0,3667.0,2655.0,2000.0,219.0,7329.0,...,410.0,37.0,1496.0,8021.0,2522.0,1760.0,15864.0,60430.0,-10305.0,-50677.0
7,2016,8555.0,9595.0,18150.0,4051.0,3856.0,2675.0,2481.0,2797.0,0.0,...,307.0,710.0,0.0,4081.0,3753.0,1760.0,14993.0,65502.0,-11205.0,-47988.0

## From the balance sheet, we will look at two interesting variables - Total Equity and how the company managed to recover remarkably from a negative equity by reducing its short term investments

In [795]:
alt.Chart(dfbal_sheettr).mark_bar().encode(
    x="Year",
    y='Total Equity', color = 'Year').interactive()

alt.Chart(...)

### Year 2016 and 2017 saw cocacola record negative equity. One of the ways they remedied this situation was dropping their short term investments

In [796]:
alt.Chart(dfbal_sheettr).mark_line().encode(
    x="Year",
    y='Total Equity').interactive()

alt.Chart(...)

In [797]:
source = dfbal_sheettr

alt.Chart(source).mark_bar().encode(x = 'Year', y = 'Short-term investments', color = 'Year')

alt.Chart(...)

## Coca-cola remarkably dropped their short term investments drastically to help turn around their equity.

### This could be as a result of increasingly lower yields on these short term investments

# From the Consolidated Financial Statement, we will consider how they maintained a steady operating income despite the fall and rise of revenue

In [798]:
dffin_sheet.head()

,Consolidated Statements of Income(million $),2023,2022,2021,2020,2019,2018,2017
0,Revenues,45754,43004,38655,33014,37266,34300,36212
1,Cost of Goods and Services Sold,18520,18000,15357,13433,14619,13067,13721
2,GROSS PROFIT,27234,25004,23298,19581,22647,21233,22491
3,"Selling, General and Administrative Expense",13972,12880,12144,9731,12103,11002,12834
4,"Other Cost and Expense, Operating",1951,1215,846,853,458,1079,1902

In [799]:
dffin_sheettr = dffin_sheet.transpose()
#set column names equal to values in row index position 0
dffin_sheettr.columns = dffin_sheettr.iloc[0]
    
#remove first row from dataframe
dffin_sheettr = dffin_sheettr[1:]

dffin_sheettr['Year'] = dffin_sheettr.index

In [800]:
Year = dffin_sheettr['Year']
dffin_sheettr.drop(labels=['Year'], axis=1,inplace = True)
dffin_sheettr.insert(0, 'Year', Year)

dffin_sheettr.reset_index(drop=True, inplace=True)
dffin_sheettr

Consolidated Statements of Income(million $),Year,Revenues,Cost of Goods and Services Sold,GROSS PROFIT,"Selling, General and Administrative Expense","Other Cost and Expense, Operating",OPERATING INCOME,Interest income,Interest expense,Equity income (loss) - net,...,INCOME BEFORE INCOME TAXES,Income taxes,CONSOLIDATED NET INCOME,Net Income (Loss) Attributable to Noncontrolling Interest,NET INCOME ATTRIBUTABLE TO SHAREOWNERS OF THE COCA-COLA COMPANY,BASIC NET INCOME PER SHARE (in dollars per share),DILUTED NET INCOME PER SHARE (in dollars per share),AVERAGE SHARES OUTSTANDING (in shares),Effect of dilutive securities (in shares),AVERAGE SHARES OUTSTANDING ASSUMING DILUTION (in shares)
0,2023,45754,18520,27234,13972,1951,11311,907,1527,1691,...,12952,2249,10703,-11,10714,2.48,2.47,4323,16,4339
1,2022,43004,18000,25004,12880,1215,10909,449,882,1472,...,11686,2115,9571,29,9542,2.2,2.19,4328,22,4350
2,2021,38655,15357,23298,12144,846,10308,276,1597,1438,...,12425,2621,9804,33,9771,2.26,2.25,4315,25,4340
3,2020,33014,13433,19581,9731,853,8997,370,1437,978,...,9749,1981,7768,21,7747,1.8,1.79,4295,28,4323
4,2019,37266,14619,22647,12103,458,10086,563,946,1049,...,10786,1801,8985,65,8920,2.09,2.07,4276,38,4314
5,2018,34300,13067,21233,11002,1079,9152,689,950,1008,...,8225,1749,6476,42,6434,1.51,1.5,4259,40,4299
6,2017,36212,13721,22491,12834,1902,7755,679,853,1072,...,6890,5607,1283,35,1248,0.29,0.29,4272,52,4324

In [801]:
alt.Chart(dffin_sheettr).mark_bar().encode(
    x="Year",
    y='Revenues', color = 'Year').interactive()

alt.Chart(...)

In [802]:
alt.Chart(dffin_sheettr).mark_bar().encode(
    x="Year",
    y='OPERATING INCOME', color = 'Year').interactive()

alt.Chart(...)

### REVENUE vs OPERATING INCOME

#### It is interesting to see how CocaCola's operating income continues on an upward surge despite fluctuating revenues except for 2020 due to the Covid.

##### They achieve this by reducing costs in Selling, General and Administrative Expense and Other Cost and Expense, Operating.
##### thus the company maintains a healthy balance despite any revenue dip